{% extends "base.html" %}

{% block page_content %}

    <img src="static/connect.jpg" alt="logo" class="center-block">

    <div class="container center-block">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">琳小姐的代售铺子</h3>
            </div>
            <div class="panel-body">
                <p>小可爱你好呀，</p>
                <p>这里是一个帮助各位代售管理和查询自己后台数据库的一个服务端，</p>
                <p>各位如果有问题需要解决，或者想要对本服务提出意见，</p>
                <p>欢迎联系～</p>
                <p>联系方式 QQ: 1647328253</p>
            </div>
        </div>
    </div>

{% endblock %}